### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [49]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

filtered_ratings = ratings[(ratings['rating']==5.0)].groupby('movieId').count().sort_values('rating', ascending=False)
# отбираем по рейтингу 5.0, группируем, считаем колличество, сортируем
tab = filtered_ratings.merge(movies, how='left', on='movieId')
# объединяем с таблицей movies, чтобы свести названия (указывая on='moveId', тк без него не работает)
final = tab.filter(items = ['movieId', 'title', 'rating'])
# выводим верхнюю строчку
final.head(1)

   movieId                             title  rating
0      318  Shawshank Redemption, The (1994)     153

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [39]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [40]:
filtered_countries = power[ ((power['country']== 'Latvia') | (power['country']== 'Lithuania') | (power['country']== 'Estonia')) &
                          ((power['category']==4) | (power['category']==12) | (power['category']==21)) & 
                           ((power['year']>=2005) & (power['year']<2010)) &
                           (power['quantity'] > 0)]
filtered_countries.quantity.sum()
# Latvia, Lithuania, Estonia

201719.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [44]:
page_url = 'https://investfuture.ru/'
df = pd.read_html(page_url, attrs = {'class': 'table'}, encoding='utf-8')
df

[     0                  1        2
 0  USD         Доллар США  76.2711
 1  EUR               Евро  89.4813
 2  GBP    Фунт стерлингов  97.7719
 3  CHF  Швейцарский франк  83.2654
 4  JPY      Японская иена  72.8995]